In [1]:
# Data is collected from Kaggle

# In data, I have collected the data Indian Population (2001), (2011), (2020)

# In data, I have collected Area of India

# In data, I have collected Literacy_Rate of India (2001 - 2011), (2015 - 2016), (new)

# In data, I have collected crimes in India (2001 - 2012), (2001 - 2020) and one more crime data

In [2]:
# link for whole data

# indian population(2011) link   :  https://www.kaggle.com/datasets/danofer/india-census


# indian population(2001) link   :   https://www.kaggle.com/datasets/bazuka/census2001


# indian population(2020) link   :   https://www.kaggle.com/datasets/rahuljangam/indian-population-history-1955-2020


# literacy rate(15 - 16) link    :   https://www.kaggle.com/datasets/rajanand/education-in-india


# literacy rate(01 - 11) link    :     https://www.kaggle.com/datasets/doncorleone92/govt-of-india-literacy-rate


# indian area1 link              :   https://www.kaggle.com/datasets/rushikeshlavate/states-and-union-territories-of-india-by-area


# crime1  link                   :    https://www.kaggle.com/datasets/nehaprabhavalkar/crime-in-india


# crime2(01 - 12)  link          :   https://www.kaggle.com/datasets/khanmohammadanas/district-wise-crimes-in-india


# crime3(01 - 20)  link          :   https://www.kaggle.com/datasets/thedevastator/crime-trends-in-india-from-2001-to-2020

In [3]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [4]:
# importing crime data,  cases registered in Police state-wise in 2016

In [5]:
crime1 = pd.read_csv("2016_Cases_against_Police_Personnels.csv")

In [6]:
crime1

,S. No.,Category,State/UT,Total Number of Criminal Cases Registered during the year,Police Personnel Arrested,Cases Chargesheeted,Police Personnel Chargesheeted,Police Personnel whose Cases were withdrawn/ Disposed Off,Police Personnel whose Trials were Completed,Police Personnel Convicted,Police Personnel Acquitted
0,1,State,Andhra Pradesh,100,36,28,29,5,8,0,8
1,2,State,Arunachal Pradesh,24,10,13,13,0,6,5,1
2,3,State,Assam,37,18,8,8,1,0,0,0
3,4,State,Bihar,43,0,40,40,0,0,0,0
4,5,State,Chhattisgarh,65,26,32,38,1,1,0,1
5,6,State,Goa,20,11,8,8,0,1,0,1
6,7,State,Gujarat,130,131,91,105,2,3,0,3
7,8,State,Haryana,34,41,18,26,11,0,0,0
8,9,State,Himachal Pradesh,11,7,5,5,0,0,0,0
9,10,State,Jammu & Kashmir,29,22,15,17,1,0,0,0
10,11,State,Jharkhand,3,2,2,2,0,0,0,0
11,12,State,Karnataka,63,23,16,16,8,1,0,1
12,13,State,Kerala,171,50,49,42,16,0,0,0
13,14,State,Madhya Pradesh,66,44,61,65,4,1,1,0
14,15,State,Maharashtra,487,388,196,209,37,24,20,4
15,16,State,Manipur,0,19,0,0,0,0,0,0
16,17,State,Meghalaya,265,2,110,0,0,0,0,0
17,18,State,Mizoram,0,0,0,0,0,0,0,0
18,19,State,Nagaland,12,11,4,5,0,0,0,0
19,20,State,Odisha,64,35,28,25,0,0,0,0
20,21,State,Punjab,88,70,16,22,7,10,1,9
21,22,State,Rajasthan,158,30,33,31,1,1,0,1
22,23,State,Sikkim,0,0,0,0,0,0,0,0
23,24,State,Tamil Nadu,114,57,41,42,4,2,1,1
24,25,State,Telangana,57,33,29,29,1,0,0,0
25,26,State,Tripura,10,7,6,6,0,0,0,0
26,27,State,Uttar Pradesh,315,187,108,182,0,2,0,2
27,28,State,Uttarakhand,7,7,4,7,0,0,0,0
28,29,State,West Bengal,9,3,18,18,1,1,0,1
29,30,UT,A & N Islands,0,0,0,0,0,0,0,0
30,31,UT,Chandigarh,13,14,14,16,0,12,3,9
31,32,UT,D&N Haveli,0,0,0,0,0,0,0,0
32,33,UT,Daman & Diu,1,5,0,0,0,0,0,0
33,34,UT,Delhi,136,42,2,2,0,0,0,0
34,35,UT,Lakshadweep,0,0,0,0,0,0,0,0
35,36,UT,Puducherry,96,0,96,96,0,0,0,0

In [7]:
crime1.isna().sum()

S. No.                                                       0
Category                                                     0
State/UT                                                     0
Total Number of Criminal Cases Registered during the year    0
Police Personnel Arrested                                    0
Cases Chargesheeted                                          0
Police Personnel Chargesheeted                               0
Police Personnel whose Cases were withdrawn/ Disposed Off    0
Police Personnel whose Trials were Completed                 0
Police Personnel Convicted                                   0
Police Personnel Acquitted                                   0
dtype: int64

In [8]:
# no nulls are showing in this dataset.

In [9]:
# importing crime data,   cases registered in Police state-wise in 2017

In [10]:
crime2 = pd.read_csv("2017_Cases_against_Police_Personnels.csv")
crime2

,S. No.,Category,State/UT,Number of Cases - Registered,Number of Cases - Quashed/Stayed by Courts,Number of Cases - Chargesheeted,Number of Cases - Final Report Submitted,Number of Police Personel - Arrested,Number of Police Personel - Chargesheeted,Number of Police Personel - Cases Withdrawn/Disposed Off,Number of Police Personel - Trials were Completed,Number of Police Personel - Convicted,Number of Police Personel - Acquitted or Discharged
0,1,State,Andhra Pradesh,164,0,344,95,103,101,2,61,0,61
1,2,State,Arunachal Pradesh,9,0,1,4,0,5,0,0,0,0
2,3,State,Assam,8,4,1,2,0,1,0,0,0,0
3,4,State,Bihar,4,0,4,0,0,5,0,0,0,0
4,5,State,Chhattisgarh,20,0,10,15,0,17,3,99,3,96
5,6,State,Goa,25,0,2,13,11,11,0,1,0,1
6,7,State,Gujarat,191,10,125,34,178,176,2,23,0,23
7,8,State,Haryana,39,0,23,22,0,23,3,4,0,4
8,9,State,Himachal Pradesh,9,18,21,8,16,16,0,0,0,0
9,10,State,Jammu & Kashmir,40,0,52,45,0,28,1,36,1,35
10,11,State,Jharkhand,2,0,0,1,0,0,0,0,0,0
11,12,State,Karnataka,45,2,14,25,0,29,2,3,0,3
12,13,State,Kerala,114,4,16,55,45,31,8,6,3,3
13,14,State,Madhya Pradesh,50,0,60,36,0,48,4,264,10,254
14,15,State,Maharashtra,456,35,237,151,0,232,29,16,11,5
15,16,State,Manipur,0,0,0,0,0,0,0,0,0,0
16,17,State,Meghalaya,1,0,0,1,0,0,0,0,0,0
17,18,State,Mizoram,1,0,1,0,0,0,0,0,0,0
18,19,State,Nagaland,14,0,1,6,0,6,0,0,0,0
19,20,State,Odisha,44,14,23,18,0,12,0,0,0,0
20,21,State,Punjab,114,1,26,27,45,38,7,14,4,10
21,22,State,Rajasthan,169,7,82,57,0,29,1,1,0,1
22,23,State,Sikkim,0,0,0,0,0,0,0,0,0,0
23,24,State,Tamil Nadu,116,4,23,31,0,23,9,5,1,4
24,25,State,Telangana,87,0,18,40,47,44,3,3,0,3
25,26,State,Tripura,4,0,0,2,2,2,0,0,0,0
26,27,State,Uttar Pradesh,106,0,36,54,88,81,7,192,92,100
27,28,State,Uttarakhand,2,1,1,1,2,2,0,0,0,0
28,29,State,West Bengal,23,0,15,0,0,15,2,2,0,2
29,30,Union Territory,A & N Islands,8,0,7,0,7,7,0,0,0,0
30,31,Union Territory,Chandigarh,8,0,11,0,0,11,1,5,3,2
31,32,Union Territory,D&N Haveli,0,0,0,0,0,0,0,0,0,0
32,33,Union Territory,Daman & Diu,0,0,0,0,0,0,0,0,0,0
33,34,Union Territory,Delhi UT,13,0,4,0,5,5,0,0,0,0
34,35,Union Territory,Lakshadweep,0,0,0,0,0,0,0,0,0,0
35,36,Union Territory,Puducherry,119,0,63,51,0,2,0,0,0,0

In [11]:
crime2.isna().sum()

S. No.                                                      0
Category                                                    0
State/UT                                                    0
Number of Cases - Registered                                0
Number of Cases - Quashed/Stayed by Courts                  0
Number of Cases - Chargesheeted                             0
Number of Cases - Final Report Submitted                    0
Number of Police Personel - Arrested                        0
Number of Police Personel - Chargesheeted                   0
Number of Police Personel - Cases Withdrawn/Disposed Off    0
Number of Police Personel - Trials were Completed           0
Number of Police Personel - Convicted                       0
Number of Police Personel - Acquitted or Discharged         0
dtype: int64

In [12]:
# no nulls are showing in dataset.

In [13]:
# importing crime data,  cases registered in Police state-wise in 2018

In [14]:
crime3 = pd.read_csv("2018_Cases_against_Police_Personnels.csv")
crime3

,S. No.,Category,State/UT,Number of Cases - Registered,Number of Cases - Quashed/Stayed by Courts,Number of Cases - Chargesheeted,Number of Cases - Final Report Submitted,Number of Police Personel - Arrested,Number of Police Personel - Chargesheeted,Number of Police Personel - Cases Withdrawn/Disposed Off,Number of Police Personel - Trials were Completed,Number of Police Personel - Convicted,Number of Police Personel - Acquitted or Discharged
0,1,State,Andhra Pradesh,97,2,45,5,0,61,0,11,1,10
1,2,State,Arunachal Pradesh,5,0,0,1,0,0,0,0,0,0
2,3,State,Assam,30,0,5,10,0,5,6,1,0,1
3,4,State,Bihar,17,0,11,1,0,63,55,0,0,0
4,5,State,Chhattisgarh,255,2,3,16,19,12,0,4,1,3
5,6,State,Goa,10,0,0,8,0,9,0,1,0,1
6,7,State,Gujarat,170,4,125,107,174,163,2,10,0,10
7,8,State,Haryana,64,0,46,31,0,26,7,2,1,1
8,9,State,Himachal Pradesh,13,0,5,43,0,9,2,0,0,0
9,10,State,Jammu & Kashmir,47,0,0,34,0,40,1,0,0,0
10,11,State,Jharkhand,2,0,0,0,0,0,0,0,0,0
11,12,State,Karnataka,92,1,38,20,0,17,5,0,0,0
12,13,State,Kerala,97,2,31,12,6,31,1,12,4,8
13,14,State,Madhya Pradesh,172,0,97,63,18,73,8,376,20,356
14,15,State,Maharashtra,401,7,197,28,319,197,3,2,2,0
15,16,State,Manipur,2,0,0,0,0,0,0,0,0,0
16,17,State,Meghalaya,0,0,0,0,0,0,0,0,0,0
17,18,State,Mizoram,3,0,0,2,0,2,0,0,0,0
18,19,State,Nagaland,3,0,0,0,0,0,0,0,0,0
19,20,State,Odisha,19,0,1,4,4,4,0,0,0,0
20,21,State,Punjab,286,6,17,14,0,18,13,16,5,11
21,22,State,Rajasthan,3340,2,2138,1012,3,26,0,8,1,7
22,23,State,Sikkim,0,0,0,0,0,0,0,0,0,0
23,24,State,Tamil Nadu,71,1,7,25,26,19,1,3,0,3
24,25,State,Telangana,111,0,48,1,0,46,2,0,0,0
25,26,State,Tripura,11,1,1,5,0,1,0,0,0,0
26,27,State,Uttar Pradesh,90,3,32,27,0,46,15,136,5,131
27,28,State,Uttarakhand,5,0,2,3,3,0,23,0,0,0
28,29,State,West Bengal,46,27,9,11,0,35,6,1,0,1
29,30,Union Territory,A & N Islands,11,0,0,9,7,7,0,0,0,0
30,31,Union Territory,Chandigarh,2,0,0,6,1,3,2,3,1,2
31,32,Union Territory,D&N Haveli,0,0,0,0,0,0,0,0,0,0
32,33,Union Territory,Daman & Diu,0,0,0,0,0,0,0,0,0,0
33,34,Union Territory,Delhi UT,7,0,4,1,0,5,0,0,0,0
34,35,Union Territory,Lakshadweep,0,0,0,0,0,0,0,0,0,0
35,36,Union Territory,Puducherry,0,0,0,0,0,0,0,0,0,0

In [15]:
crime3.isna().sum()

S. No.                                                      0
Category                                                    0
State/UT                                                    0
Number of Cases - Registered                                0
Number of Cases - Quashed/Stayed by Courts                  0
Number of Cases - Chargesheeted                             0
Number of Cases - Final Report Submitted                    0
Number of Police Personel - Arrested                        0
Number of Police Personel - Chargesheeted                   0
Number of Police Personel - Cases Withdrawn/Disposed Off    0
Number of Police Personel - Trials were Completed           0
Number of Police Personel - Convicted                       0
Number of Police Personel - Acquitted or Discharged         0
dtype: int64

In [16]:
# no nulls are showing in dataset.

In [17]:
# importing data of persons escaped from police custody of year 2016

In [18]:
crime_escape1 = pd.read_csv("2016_Escapes_from_Police_Custody.csv")
crime_escape1

,S. No.,Category,State/UT,"Number of Cases Registered (U/S 224, 225 B)",Total Number of Persons Escaped from Police Custody,Persons Escaped from Lockup,Persons Escaped Outside the Lockup,Escapees Rearrested who Escaped - From Lockup,Escapees Rearrested who Escaped - Other than Lockup,Number of Persons Chargedsheeted for Offence of Escape,Disposal by Courts - Trials Completed - Cases Involved,Disposal by Courts - Trials Completed - Number of Persons,Disposal by Courts - Convicted - Cases Involved,Disposal by Courts - Convicted - Number of Persons,Disposal by Courts - Acquitted - Cases Involved,Disposal by Courts - Acquitted - Number of Persons,Disposal by Courts - Number Pending for Trial - Cases Involved,Disposal by Courts - Number Pending for Trial - Number of Persons
0,1,State,Andhra Pradesh,33,34,4,30,2,20,19,37,6,4,4,33,2,12,12
1,2,State,Arunachal Pradesh,8,18,14,4,13,4,9,0,0,0,0,0,0,2,6
2,3,State,Assam,39,42,8,34,8,14,10,3,3,3,3,0,0,4,4
3,4,State,Bihar,49,51,9,42,19,12,38,0,0,0,0,0,0,30,39
4,5,State,Chhattisgarh,27,28,1,27,1,18,16,0,0,0,0,0,0,14,13
5,6,State,Goa,3,3,0,3,0,2,3,1,1,1,1,0,0,3,4
6,7,State,Gujarat,39,48,15,33,15,27,52,0,1,0,0,0,1,25,39
7,8,State,Haryana,42,56,15,41,14,29,65,3,7,0,0,3,7,27,62
8,9,State,Himachal Pradesh,10,10,0,10,0,10,8,9,10,4,4,5,6,46,51
9,10,State,Jammu & Kashmir,18,23,13,10,9,7,11,1,1,1,1,0,0,12,16
10,11,State,Jharkhand,9,12,3,9,3,1,10,1,1,1,1,0,0,8,9
11,12,State,Karnataka,26,33,3,30,3,22,20,9,9,8,8,1,1,8,11
12,13,State,Kerala,51,58,7,51,5,46,65,2,2,2,2,0,0,31,40
13,14,State,Madhya Pradesh,111,133,26,107,14,81,93,0,0,0,0,0,0,65,79
14,15,State,Maharashtra,98,118,21,97,21,73,76,1,1,0,0,1,1,68,75
15,16,State,Manipur,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
16,17,State,Meghalaya,5,5,1,4,1,0,1,0,0,0,0,0,0,1,1
17,18,State,Mizoram,7,7,1,6,1,2,5,5,5,4,4,1,1,1,1
18,19,State,Nagaland,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,20,State,Odisha,50,51,8,43,1,27,27,0,0,0,0,0,0,4,4
20,21,State,Punjab,56,64,9,55,3,29,56,21,37,9,13,12,24,29,46
21,22,State,Rajasthan,70,81,3,78,2,60,62,1,1,0,0,1,1,42,55
22,23,State,Sikkim,4,4,0,4,0,2,2,0,0,0,0,0,0,2,2
23,24,State,Tamil Nadu,24,24,2,22,1,17,12,3,3,3,3,0,0,8,8
24,25,State,Telangana,28,28,0,28,0,21,21,2,2,2,2,0,0,17,17
25,26,State,Tripura,4,7,3,4,0,3,4,215,415,57,83,158,332,2087,4522
26,27,State,Uttar Pradesh,282,327,34,293,27,235,260,13,13,13,13,0,0,207,239
27,28,State,Uttarakhand,4,5,0,5,0,0,0,0,0,0,0,0,0,0,0
28,29,State,West Bengal,21,25,10,15,5,11,14,1,1,1,1,0,0,3,3
29,30,UT,A & N Islands,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30,31,UT,Chandigarh,5,5,0,5,0,5,5,8,8,7,7,1,1,9,20
31,32,UT,D&N Haveli,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
32,33,UT,Daman & Diu,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
33,34,UT,Delhi,20,20,0,20,0,12,5,1,1,1,1,0,0,3,3
34,35,UT,Lakshadweep,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35,36,UT,Puducherry,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [19]:
crime_escape1.isna().sum()

S. No.                                                               0
Category                                                             0
State/UT                                                             0
Number of Cases Registered (U/S 224, 225 B)                          0
Total Number of Persons Escaped from Police Custody                  0
Persons Escaped from Lockup                                          0
Persons Escaped Outside the Lockup                                   0
Escapees Rearrested who Escaped - From Lockup                        0
Escapees Rearrested who Escaped - Other than Lockup                  0
Number of Persons Chargedsheeted for Offence of Escape               0
Disposal by Courts - Trials Completed - Cases Involved               0
Disposal by Courts - Trials Completed - Number of Persons            0
Disposal by Courts - Convicted - Cases Involved                      0
Disposal by Courts - Convicted - Number of Persons                   0
Disposal by Courts - Acquitted - Cases Involved                      0
Disposal by Courts - Acquitted - Number of Persons                   0
Disposal by Courts - Number Pending for Trial - Cases Involved       0
Disposal by Courts - Number Pending for Trial - Number of Persons    0
dtype: int64

In [20]:
# no nulls are showing in dataset.

In [21]:
# importing data of persons escaped from police custody of year 2017

In [22]:
crime_escape2 = pd.read_csv("2017_Escapes_from_Police_Custody.csv")
crime_escape2

,S. No.,Category,State/UT,Cases Reported,Persons Escaped - From lockup,Persons Escaped - Outside Lockup,Persons Escaped - Total,Escapees - Re-Arrested,Escapees - Absconding,Cases against Police for Negligence,Action taken for Negligence - Police Personnel Arrested,Action taken for Negligence - Police Personnel Chargesheeted,Action taken for Negligence - Police Personnel Convicted
0,1,State,Andhra Pradesh,36,3,35,38,33,4,0,0,0,1
1,2,State,Arunachal Pradesh,3,9,1,10,10,0,0,0,0,0
2,3,State,Assam,13,5,9,14,11,3,0,0,0,0
3,4,State,Bihar,62,15,50,65,43,16,0,0,4,0
4,5,State,Chhattisgarh,27,6,24,30,25,8,8,0,0,0
5,6,State,Goa,4,0,4,4,2,1,0,0,0,0
6,7,State,Gujarat,41,7,42,49,39,11,14,23,20,0
7,8,State,Haryana,25,6,22,28,22,1,4,3,3,0
8,9,State,Himachal Pradesh,9,1,11,12,10,1,2,3,5,2
9,10,State,Jammu & Kashmir,11,3,8,11,8,2,3,1,1,0
10,11,State,Jharkhand,9,0,6,6,8,1,3,0,0,0
11,12,State,Karnataka,47,10,40,50,31,9,0,1,0,0
12,13,State,Kerala,35,5,29,34,30,4,0,0,0,0
13,14,State,Madhya Pradesh,319,15,89,104,74,13,0,1,6,5
14,15,State,Maharashtra,115,18,115,133,103,19,5,1,1,0
15,16,State,Manipur,0,1,0,1,1,0,0,0,0,0
16,17,State,Meghalaya,5,0,5,5,3,2,0,0,0,0
17,18,State,Mizoram,36,1,5,6,6,0,0,0,0,0
18,19,State,Nagaland,1,0,1,1,1,0,1,1,0,0
19,20,State,Odisha,43,4,45,49,37,4,0,0,0,0
20,21,State,Punjab,64,8,62,70,68,81,30,31,4,0
21,22,State,Rajasthan,71,5,69,74,82,11,0,0,16,8
22,23,State,Sikkim,0,0,0,0,0,0,0,0,0,0
23,24,State,Tamil Nadu,21,3,20,23,22,1,0,0,0,0
24,25,State,Telangana,24,6,18,24,19,0,2,0,8,0
25,26,State,Tripura,1,1,1,2,1,1,1,0,0,0
26,27,State,Uttar Pradesh,78,19,81,100,72,43,48,91,71,37
27,28,State,Uttarakhand,10,3,7,10,4,1,5,0,5,0
28,29,State,West Bengal,24,4,20,24,15,4,0,0,0,0
29,30,Union Territory,A & N Islands,0,0,0,0,0,0,0,0,0,0
30,31,Union Territory,Chandigarh,3,1,1,2,2,1,1,0,2,0
31,32,Union Territory,D&N Haveli,1,0,1,1,0,0,0,0,0,0
32,33,Union Territory,Daman & Diu,0,0,0,0,0,0,0,0,0,0
33,34,Union Territory,Delhi UT,25,0,28,28,21,4,3,1,1,0
34,35,Union Territory,Lakshadweep,0,0,0,0,0,0,0,0,0,0
35,36,Union Territory,Puducherry,0,0,1,1,1,0,0,0,0,0

In [23]:
crime_escape2.isna().sum()

S. No.                                                          0
Category                                                        0
State/UT                                                        0
Cases Reported                                                  0
Persons Escaped - From lockup                                   0
Persons Escaped - Outside Lockup                                0
Persons Escaped - Total                                         0
Escapees - Re-Arrested                                          0
Escapees - Absconding                                           0
Cases against Police for Negligence                             0
Action taken for Negligence - Police Personnel Arrested         0
Action taken for Negligence - Police Personnel Chargesheeted    0
Action taken for Negligence - Police Personnel Convicted        0
dtype: int64

In [24]:
# no nulls are showing in the dataset.

In [25]:
# importing data of persons escaped from police custody of year 2018

In [26]:
crime_escape3 = pd.read_csv("2018_Escapes_from_Police_Custody.csv")
crime_escape3

,S. No.,Category,State/UT,Cases Reported,Persons Escaped - From lockup,Persons Escaped - Outside Lockup,Persons Escaped - Total,Escapees - Re-Arrested,Escapees - Absconding,Cases against Police for Negligence,Action taken for Negligence - Police Personnel Arrested,Action taken for Negligence - Police Personnel Chargesheeted,Action taken for Negligence - Police Personnel Convicted
0,1,State,Andhra Pradesh,26,1,35,36,22,6,3,0,1,0
1,2,State,Arunachal Pradesh,2,2,0,2,2,0,0,0,0,0
2,3,State,Assam,38,25,12,37,6,28,0,0,0,0
3,4,State,Bihar,54,14,50,64,35,18,1,0,1,0
4,5,State,Chhattisgarh,31,5,27,32,24,15,0,0,0,0
5,6,State,Goa,4,0,5,5,4,1,0,0,0,0
6,7,State,Gujarat,38,8,36,44,38,6,11,20,20,0
7,8,State,Haryana,27,10,23,33,16,3,17,12,12,0
8,9,State,Himachal Pradesh,11,1,10,11,11,4,2,7,7,0
9,10,State,Jammu & Kashmir,17,9,9,18,13,4,3,7,6,0
10,11,State,Jharkhand,13,6,9,15,10,2,1,0,0,0
11,12,State,Karnataka,40,4,29,33,23,11,3,0,1,0
12,13,State,Kerala,37,7,30,37,34,2,0,0,0,0
13,14,State,Madhya Pradesh,312,26,80,106,94,22,5,1,1,2
14,15,State,Maharashtra,77,16,71,87,64,11,0,0,0,0
15,16,State,Manipur,0,0,0,0,0,0,0,0,0,0
16,17,State,Meghalaya,3,1,2,3,3,0,0,0,0,0
17,18,State,Mizoram,228,0,6,6,5,0,0,0,0,0
18,19,State,Nagaland,1,2,0,2,1,1,1,1,0,0
19,20,State,Odisha,29,7,39,46,15,13,5,0,0,0
20,21,State,Punjab,53,18,40,58,32,19,23,37,4,1
21,22,State,Rajasthan,54,11,42,53,45,17,0,0,7,2
22,23,State,Sikkim,0,0,0,0,0,0,0,0,0,0
23,24,State,Tamil Nadu,27,5,27,32,28,4,2,0,1,0
24,25,State,Telangana,29,1,28,29,21,8,0,0,0,0
25,26,State,Tripura,4,3,1,4,4,0,0,0,0,0
26,27,State,Uttar Pradesh,77,13,76,89,72,17,52,61,54,4
27,28,State,Uttarakhand,4,0,4,4,4,2,0,0,0,0
28,29,State,West Bengal,19,2,20,22,16,5,0,0,0,0
29,30,Union Territory,A & N Islands,0,0,0,0,0,0,0,0,0,0
30,31,Union Territory,Chandigarh,4,3,4,7,4,1,1,3,0,0
31,32,Union Territory,D&N Haveli,0,0,0,0,0,0,0,0,0,0
32,33,Union Territory,Daman & Diu,0,0,0,0,0,0,0,0,0,0
33,34,Union Territory,Delhi UT,22,3,19,22,10,2,6,0,0,0
34,35,Union Territory,Lakshadweep,0,0,0,0,0,0,0,0,0,0
35,36,Union Territory,Puducherry,0,0,0,0,0,0,0,0,0,0

In [27]:
crime_escape3.isna().sum()

S. No.                                                          0
Category                                                        0
State/UT                                                        0
Cases Reported                                                  0
Persons Escaped - From lockup                                   0
Persons Escaped - Outside Lockup                                0
Persons Escaped - Total                                         0
Escapees - Re-Arrested                                          0
Escapees - Absconding                                           0
Cases against Police for Negligence                             0
Action taken for Negligence - Police Personnel Arrested         0
Action taken for Negligence - Police Personnel Chargesheeted    0
Action taken for Negligence - Police Personnel Convicted        0
dtype: int64

In [28]:
# no nulls are showing in dataset.

In [29]:
# importing data for cases registered against rape in 2016

In [30]:
crime_rape1 = pd.read_csv("2016_Victims_of_Rape.csv")
crime_rape1

,S. No,Category,State/UT,Cases Reported,Child Victims of Rape (Below 18 Yrs) - Below 6 Years,Child Victims of Rape (Below 18 Yrs) - 6 Years & Above - Below 12 Years,Child Victims of Rape (Below 18 Yrs) - 12 Years & Above - Below 16 Years,Child Victims of Rape (Below 18 Yrs) - 16 Years & Above - Below 18 Years,Child Victims of Rape (Below 18 Yrs) - Total Girl /Child Victims,Women Victims of Rape (Above 18 Yrs) - 18 Years & Above - Below 30 Years,Women Victims of Rape (Above 18 Yrs) - 30 Years & Above - Below 45 Years,Women Victims of Rape (Above 18 Yrs) - 45 Years & Above - Below 60 Years,Women Victims of Rape (Above 18 Yrs) - 60 Years & Above,Women Victims of Rape (Above 18 Yrs) - Total Women/Adult Victims,Total Victims
0,1,State,Andhra Pradesh,988,14,46,185,296,541,333,121,6,4,464,1005
1,2,State,Arunachal Pradesh,59,1,9,19,13,42,24,5,0,0,29,71
2,3,State,Assam,1772,2,44,29,25,100,1291,582,75,0,1948,2048
3,4,State,Bihar,605,0,0,0,0,0,546,68,2,0,616,616
4,5,State,Chhattisgarh,1908,47,77,396,614,1134,525,245,14,8,792,1926
5,6,State,Goa,76,4,5,31,16,56,13,6,1,0,20,76
6,7,State,Gujarat,477,0,0,0,2,2,349,125,2,1,477,479
7,8,State,Haryana,1099,5,7,73,52,137,692,246,26,3,967,1104
8,9,State,Himachal Pradesh,249,7,18,52,68,145,78,23,5,0,106,251
9,10,State,Jammu & Kashmir,296,1,5,21,16,43,163,88,4,0,255,298
10,11,State,Jharkhand,914,0,2,10,72,84,632,203,8,0,843,927
11,12,State,Karnataka,546,0,0,0,1,1,452,94,9,2,557,558
12,13,State,Kerala,2003,32,115,372,566,1085,595,288,42,25,950,2035
13,14,State,Madhya Pradesh,5562,50,207,1275,1550,3082,1651,716,104,46,2517,5599
14,15,State,Maharashtra,1933,1,2,3,6,12,1428,454,34,17,1933,1945
15,16,State,Manipur,40,0,0,0,2,2,24,15,0,0,39,41
16,17,State,Meghalaya,119,5,18,13,10,46,47,22,4,0,73,119
17,18,State,Mizoram,25,0,0,0,0,0,13,8,2,2,25,25
18,19,State,Nagaland,10,0,0,1,0,1,3,5,0,1,9,10
19,20,State,Odisha,2070,2,15,254,1026,1297,737,48,0,0,785,2082
20,21,State,Punjab,530,3,9,55,59,126,310,98,14,2,424,550
21,22,State,Rajasthan,3305,7,29,156,320,512,1988,744,71,4,2807,3319
22,23,State,Sikkim,17,0,0,0,0,0,12,4,1,0,17,17
23,24,State,Tamil Nadu,283,0,0,0,0,0,230,44,4,5,283,283
24,25,State,Telangana,552,0,0,0,0,0,502,178,14,5,699,699
25,26,State,Tripura,95,1,0,1,3,5,55,35,5,1,96,101
26,27,State,Uttar Pradesh,4246,105,190,713,552,1560,2313,779,9,8,3109,4669
27,28,State,Uttarakhand,374,8,12,71,69,160,189,41,6,1,237,397
28,29,State,West Bengal,1084,0,0,0,0,0,799,263,21,1,1084,1084
29,30,Union Territory,A & N Islands,13,0,0,0,1,1,8,4,0,0,12,13
30,31,Union Territory,Chandigarh,65,3,6,29,7,45,16,4,0,0,20,65
31,32,Union Territory,D&N Haveli,1,0,0,0,0,0,1,0,0,0,1,1
32,33,Union Territory,Daman & Diu,7,0,2,0,0,2,3,2,0,0,5,7
33,34,Union Territory,Delhi UT,1229,0,0,0,0,0,871,337,20,3,1231,1231
34,35,Union Territory,Lakshadweep,0,0,0,0,0,0,0,0,0,0,0,0
35,36,Union Territory,Puducherry,7,0,0,0,0,0,7,0,0,0,7,7

In [31]:
crime_rape1.isna().sum()

S. No                                                                       0
Category                                                                    0
State/UT                                                                    0
Cases Reported                                                              0
Child Victims of Rape (Below 18 Yrs) - Below 6 Years                        0
Child Victims of Rape (Below 18 Yrs) - 6 Years & Above - Below 12 Years     0
Child Victims of Rape (Below 18 Yrs) - 12 Years & Above - Below 16 Years    0
Child Victims of Rape (Below 18 Yrs) - 16 Years & Above - Below 18 Years    0
Child Victims of Rape (Below 18 Yrs) - Total Girl /Child Victims            0
Women Victims of Rape (Above 18 Yrs) - 18 Years & Above - Below 30 Years    0
Women Victims of Rape (Above 18 Yrs) - 30 Years & Above - Below 45 Years    0
Women Victims of Rape (Above 18 Yrs) - 45 Years & Above - Below 60 Years    0
Women Victims of Rape (Above 18 Yrs) - 60 Years & Above                     0
Women Victims of Rape (Above 18 Yrs) - Total Women/Adult Victims            0
Total Victims                                                               0
dtype: int64

In [32]:
# no nulls are showing in dataset.

In [33]:
# importing data for cases registered against rape in 2017

In [34]:
crime_rape2 = pd.read_csv("2017_Victims_of_Rape.csv")
crime_rape2

,S. No,Category,State/UT,Cases Reported,Child Victims of Rape (Below 18 Yrs) - Below 6 Years,Child Victims of Rape (Below 18 Yrs) - 6 Years & Above - Below 12 Years,Child Victims of Rape (Below 18 Yrs) - 12 Years & Above - Below 16 Years,Child Victims of Rape (Below 18 Yrs) - 16 Years & Above - Below 18 Years,Child Victims of Rape (Below 18 Yrs) - Total Girl /Child Victims,Women Victims of Rape (Above 18 Yrs) - 18 Years & Above - Below 30 Years,Women Victims of Rape (Above 18 Yrs) - 30 Years & Above - Below 45 Years,Women Victims of Rape (Above 18 Yrs) - 45 Years & Above - Below 60 Years,Women Victims of Rape (Above 18 Yrs) - 60 Years & Above,Women Victims of Rape (Above 18 Yrs) - Total Women/Adult Victims,Total Victims
0,1,State,Andhra Pradesh,988,14,46,185,296,541,333,121,6,4,464,1005
1,2,State,Arunachal Pradesh,59,1,9,19,13,42,24,5,0,0,29,71
2,3,State,Assam,1772,2,44,29,25,100,1291,582,75,0,1948,2048
3,4,State,Bihar,605,0,0,0,0,0,546,68,2,0,616,616
4,5,State,Chhattisgarh,1908,47,77,396,614,1134,525,245,14,8,792,1926
5,6,State,Goa,76,4,5,31,16,56,13,6,1,0,20,76
6,7,State,Gujarat,477,0,0,0,2,2,349,125,2,1,477,479
7,8,State,Haryana,1099,5,7,73,52,137,692,246,26,3,967,1104
8,9,State,Himachal Pradesh,249,7,18,52,68,145,78,23,5,0,106,251
9,10,State,Jammu & Kashmir,296,1,5,21,16,43,163,88,4,0,255,298
10,11,State,Jharkhand,914,0,2,10,72,84,632,203,8,0,843,927
11,12,State,Karnataka,546,0,0,0,1,1,452,94,9,2,557,558
12,13,State,Kerala,2003,32,115,372,566,1085,595,288,42,25,950,2035
13,14,State,Madhya Pradesh,5562,50,207,1275,1550,3082,1651,716,104,46,2517,5599
14,15,State,Maharashtra,1933,1,2,3,6,12,1428,454,34,17,1933,1945
15,16,State,Manipur,40,0,0,0,2,2,24,15,0,0,39,41
16,17,State,Meghalaya,119,5,18,13,10,46,47,22,4,0,73,119
17,18,State,Mizoram,25,0,0,0,0,0,13,8,2,2,25,25
18,19,State,Nagaland,10,0,0,1,0,1,3,5,0,1,9,10
19,20,State,Odisha,2070,2,15,254,1026,1297,737,48,0,0,785,2082
20,21,State,Punjab,530,3,9,55,59,126,310,98,14,2,424,550
21,22,State,Rajasthan,3305,7,29,156,320,512,1988,744,71,4,2807,3319
22,23,State,Sikkim,17,0,0,0,0,0,12,4,1,0,17,17
23,24,State,Tamil Nadu,283,0,0,0,0,0,230,44,4,5,283,283
24,25,State,Telangana,552,0,0,0,0,0,502,178,14,5,699,699
25,26,State,Tripura,95,1,0,1,3,5,55,35,5,1,96,101
26,27,State,Uttar Pradesh,4246,105,190,713,552,1560,2313,779,9,8,3109,4669
27,28,State,Uttarakhand,374,8,12,71,69,160,189,41,6,1,237,397
28,29,State,West Bengal,1084,0,0,0,0,0,799,263,21,1,1084,1084
29,30,Union Territory,A & N Islands,13,0,0,0,1,1,8,4,0,0,12,13
30,31,Union Territory,Chandigarh,65,3,6,29,7,45,16,4,0,0,20,65
31,32,Union Territory,D&N Haveli,1,0,0,0,0,0,1,0,0,0,1,1
32,33,Union Territory,Daman & Diu,7,0,2,0,0,2,3,2,0,0,5,7
33,34,Union Territory,Delhi UT,1229,0,0,0,0,0,871,337,20,3,1231,1231
34,35,Union Territory,Lakshadweep,0,0,0,0,0,0,0,0,0,0,0,0
35,36,Union Territory,Puducherry,7,0,0,0,0,0,7,0,0,0,7,7

In [35]:
crime_rape2.isna().sum()

S. No                                                                       0
Category                                                                    0
State/UT                                                                    0
Cases Reported                                                              0
Child Victims of Rape (Below 18 Yrs) - Below 6 Years                        0
Child Victims of Rape (Below 18 Yrs) - 6 Years & Above - Below 12 Years     0
Child Victims of Rape (Below 18 Yrs) - 12 Years & Above - Below 16 Years    0
Child Victims of Rape (Below 18 Yrs) - 16 Years & Above - Below 18 Years    0
Child Victims of Rape (Below 18 Yrs) - Total Girl /Child Victims            0
Women Victims of Rape (Above 18 Yrs) - 18 Years & Above - Below 30 Years    0
Women Victims of Rape (Above 18 Yrs) - 30 Years & Above - Below 45 Years    0
Women Victims of Rape (Above 18 Yrs) - 45 Years & Above - Below 60 Years    0
Women Victims of Rape (Above 18 Yrs) - 60 Years & Above                     0
Women Victims of Rape (Above 18 Yrs) - Total Women/Adult Victims            0
Total Victims                                                               0
dtype: int64

In [36]:
# no nulls are showing in dataset.

In [37]:
# importing data for cases registered against rape in 2018

In [38]:
crime_rape3 = pd.read_csv("2018_Victims_of_Rape.csv")
crime_rape3

,S. No,Category,State/UT,Cases Reported,Child Victims of Rape (Below 18 Yrs) - Below 6 Years,Child Victims of Rape (Below 18 Yrs) - 6 Years & Above,Child Victims of Rape (Below 18 Yrs) - 12 Years & Above,Child Victims of Rape (Below 18 Yrs) - 16 Years & Above,Child Victims of Rape (Below 18 Yrs) - Total Girl/Child Victims,Women Victims of Rape (Above 18 Yrs) - 18 Years & Above - Below 30 Years,Women Victims of Rape (Above 18 Yrs) - 30 Years & Above - Below 45 Years,Women Victims of Rape (Above 18 Yrs) - 45 Years & Above - Below 60 Years,Women Victims of Rape (Above 18 Yrs) - 60 Years & Above,Women Victims of Rape (Above 18 Yrs) - Total Women/Adult Victims,Total Victims
0,1,State,Andhra Pradesh,971,16,57,181,251,505,373,76,14,5,468,973
1,2,State,Arunachal Pradesh,67,4,4,13,11,32,29,9,0,0,38,70
2,3,State,Assam,1648,7,24,6,52,89,1043,523,107,5,1678,1767
3,4,State,Bihar,651,0,0,1,3,4,520,111,16,0,647,651
4,5,State,Chhattisgarh,2091,41,80,557,541,1219,644,190,42,6,882,2101
5,6,State,Goa,61,0,1,21,12,34,13,11,2,1,27,61
6,7,State,Gujarat,553,0,0,3,4,7,389,144,12,1,546,553
7,8,State,Haryana,1296,2,0,0,0,2,969,300,22,3,1294,1296
8,9,State,Himachal Pradesh,344,2,25,85,84,196,101,45,6,1,153,349
9,10,State,Jammu & Kashmir,320,0,6,18,18,42,172,109,5,0,286,328
10,11,State,Jharkhand,1090,0,0,6,63,69,798,217,14,0,1029,1098
11,12,State,Karnataka,492,0,0,2,2,4,369,120,3,1,493,497
12,13,State,Kerala,1945,48,129,334,645,1156,465,294,43,14,816,1972
13,14,State,Madhya Pradesh,5433,54,142,1143,1502,2841,1798,725,75,11,2609,5450
14,15,State,Maharashtra,2142,0,0,0,0,0,1524,552,62,11,2149,2149
15,16,State,Manipur,52,0,1,7,9,17,27,7,1,0,35,52
16,17,State,Meghalaya,87,0,4,6,15,25,49,14,1,0,64,89
17,18,State,Mizoram,50,2,12,8,1,23,20,5,1,1,27,50
18,19,State,Nagaland,10,0,0,1,2,3,5,1,1,1,8,11
19,20,State,Odisha,918,0,0,10,27,37,835,47,4,0,886,923
20,21,State,Punjab,831,10,30,151,139,330,381,108,15,3,507,837
21,22,State,Rajasthan,4335,17,48,392,575,1032,2263,912,129,1,3305,4337
22,23,State,Sikkim,16,0,0,0,4,4,5,4,3,0,12,16
23,24,State,Tamil Nadu,331,1,1,1,3,6,256,63,6,1,326,332
24,25,State,Telangana,606,0,0,0,0,0,465,123,17,1,606,606
25,26,State,Tripura,97,0,0,0,0,0,73,21,3,0,97,97
26,27,State,Uttar Pradesh,3946,67,174,570,600,1411,2235,603,70,3,2911,4322
27,28,State,Uttarakhand,561,3,5,79,186,273,194,101,8,0,303,576
28,29,State,West Bengal,1069,0,0,1,3,4,736,310,18,1,1065,1069
29,30,Union Territory,A & N Islands,30,0,1,3,10,14,12,3,1,0,16,30
30,31,Union Territory,Chandigarh,86,7,13,16,17,53,14,12,7,0,33,86
31,32,Union Territory,D&N Haveli,7,0,0,0,0,0,6,1,0,0,7,7
32,33,Union Territory,Daman & Diu,3,0,0,1,0,1,2,0,0,0,2,3
33,34,Union Territory,Delhi UT,1215,0,0,0,0,0,851,345,19,2,1217,1217
34,35,Union Territory,Lakshadweep,2,0,0,0,0,0,0,2,0,0,2,2
35,36,Union Territory,Puducherry,0,0,0,0,0,0,0,0,0,0,0,0

In [39]:
crime_rape3.isna().sum()

S. No                                                                       0
Category                                                                    0
State/UT                                                                    0
Cases Reported                                                              0
Child Victims of Rape (Below 18 Yrs) - Below 6 Years                        0
Child Victims of Rape (Below 18 Yrs) - 6 Years & Above                      0
Child Victims of Rape (Below 18 Yrs) - 12 Years & Above                     0
Child Victims of Rape (Below 18 Yrs) - 16 Years & Above                     0
Child Victims of Rape (Below 18 Yrs) - Total Girl/Child Victims             0
Women Victims of Rape (Above 18 Yrs) - 18 Years & Above - Below 30 Years    0
Women Victims of Rape (Above 18 Yrs) - 30 Years & Above - Below 45 Years    0
Women Victims of Rape (Above 18 Yrs) - 45 Years & Above - Below 60 Years    0
Women Victims of Rape (Above 18 Yrs) - 60 Years & Above                     0
Women Victims of Rape (Above 18 Yrs) - Total Women/Adult Victims            0
Total Victims                                                               0
dtype: int64

In [40]:
# no nulls are showing in dataset.

In [41]:
# importing area data

In [42]:
area = pd.read_csv("List_of_states_and_union_territories_of_India_by_area.csv")
area

,Rank,State (S) / Union territory (UT),Area (km2),Region,National Share (%),Country of comparable size (land mass)
0,1 (S1),Rajasthan,"342,239",Northern,10.420,Germany
1,2 (S2),Madhya Pradesh,"308,252",Central,9.370,Oman
2,3 (S3),Maharashtra,"307,713",Western,9.360,Italy
3,4 (S4),Uttar Pradesh,"240,928",Northern,7.330,United Kingdom
4,5 (S5),Gujarat,"196,024",Western,5.960,Senegal
5,6 (S6),Karnataka,"191,791",Southern,5.830,Syria
6,8 (S7),Andhra Pradesh,"160,205",Southern,4.870,Tunisia
7,9 (S8),Odisha,"155,707",Eastern,4.730,Bangladesh
8,10 (S9),Chhattisgarh,"135,191",Central,4.110,Greece
9,11 (S10),Tamil Nadu,"130,058",Southern,3.950,Greece
10,12 (S11),Telangana,"112,077",Southern,3.490,Honduras
11,7 (UT1),Ladakh,"96,702",Northern,1.800,Cambodia
12,13 (S12),Bihar,"94,163",Eastern,2.860,Hungary
13,14 (S13),West Bengal,"88,752",Eastern,2.700,Serbia
14,15 (S14),Arunachal Pradesh,"83,743",Northeastern,2.540,Austria
15,16 (S15),Jharkhand,"79,714",Eastern,2.420,Czech Republic
16,17 (S16),Assam,"78,438",Northeastern,2.380,Scotland
17,18 (S17),Himachal Pradesh,"55,673",Northern,1.700,Croatia
18,20 (S18),Uttarakhand,"53,483",Northern,1.620,Bosnia and Herzegovina
19,21 (S19),Punjab,"50,362",Northern,1.530,Slovakia
20,22 (S20),Haryana,"44,212",Northern,1.340,Denmark
21,19 (UT2),Jammu and Kashmir,"42,241",Northern,1.700,Croatia
22,23 (S21),Kerala,"38,863",Southern,1.180,Bhutan
23,24 (S22),Meghalaya,"22,429",Northeastern,0.680,Belize
24,25 (S23),Manipur,"22,327",Northeastern,0.680,Slovenia
25,26 (S24),Mizoram,"21,081",Northeastern,0.640,El Salvador
26,27 (S25),Nagaland,"16,579",Northeastern,0.500,Eswatini
27,28 (S26),Tripura,"10,486",Northeastern,0.310,Lebanon
28,29 (UT3),Andaman and Nicobar Islands,"8,249",Bay of Bengal,0.250,Puerto Rico
29,30 (S27),Sikkim,"7,096",Northeastern,0.210,Cyprus
30,31 (S28),Goa,"3,702",Western,0.110,French Polynesia
31,32 (UT4),NCT Delhi,"1,483",Northern,0.040,Faroe Islands
32,33 (UT5),Dadra and Nagar Haveli and Daman and Diu,603,Western,0.010,Saint Lucia
33,34 (UT6),Puducherry,479,Southern,0.010,Andorra
34,35 (UT7),Chandigarh,114,Northern,0.003,Wallis and Futuna
35,36 (UT8),Lakshadweep,32,Arabian Sea,0.001,Macau
36,Total,India,"3,287,263[a]",NaN,100.000,NaN

In [43]:
area.isna().sum()

Rank                                      0
State (S) / Union territory (UT)          0
Area (km2)                                0
Region                                    1
National Share (%)                        0
Country of comparable size (land mass)    1
dtype: int64

In [44]:
# some nulls are showing in dataset

In [45]:
# filling the null values

In [46]:
area['Region'] = area['Region'].fillna('Whole')

In [47]:
area

,Rank,State (S) / Union territory (UT),Area (km2),Region,National Share (%),Country of comparable size (land mass)
0,1 (S1),Rajasthan,"342,239",Northern,10.420,Germany
1,2 (S2),Madhya Pradesh,"308,252",Central,9.370,Oman
2,3 (S3),Maharashtra,"307,713",Western,9.360,Italy
3,4 (S4),Uttar Pradesh,"240,928",Northern,7.330,United Kingdom
4,5 (S5),Gujarat,"196,024",Western,5.960,Senegal
5,6 (S6),Karnataka,"191,791",Southern,5.830,Syria
6,8 (S7),Andhra Pradesh,"160,205",Southern,4.870,Tunisia
7,9 (S8),Odisha,"155,707",Eastern,4.730,Bangladesh
8,10 (S9),Chhattisgarh,"135,191",Central,4.110,Greece
9,11 (S10),Tamil Nadu,"130,058",Southern,3.950,Greece
10,12 (S11),Telangana,"112,077",Southern,3.490,Honduras
11,7 (UT1),Ladakh,"96,702",Northern,1.800,Cambodia
12,13 (S12),Bihar,"94,163",Eastern,2.860,Hungary
13,14 (S13),West Bengal,"88,752",Eastern,2.700,Serbia
14,15 (S14),Arunachal Pradesh,"83,743",Northeastern,2.540,Austria
15,16 (S15),Jharkhand,"79,714",Eastern,2.420,Czech Republic
16,17 (S16),Assam,"78,438",Northeastern,2.380,Scotland
17,18 (S17),Himachal Pradesh,"55,673",Northern,1.700,Croatia
18,20 (S18),Uttarakhand,"53,483",Northern,1.620,Bosnia and Herzegovina
19,21 (S19),Punjab,"50,362",Northern,1.530,Slovakia
20,22 (S20),Haryana,"44,212",Northern,1.340,Denmark
21,19 (UT2),Jammu and Kashmir,"42,241",Northern,1.700,Croatia
22,23 (S21),Kerala,"38,863",Southern,1.180,Bhutan
23,24 (S22),Meghalaya,"22,429",Northeastern,0.680,Belize
24,25 (S23),Manipur,"22,327",Northeastern,0.680,Slovenia
25,26 (S24),Mizoram,"21,081",Northeastern,0.640,El Salvador
26,27 (S25),Nagaland,"16,579",Northeastern,0.500,Eswatini
27,28 (S26),Tripura,"10,486",Northeastern,0.310,Lebanon
28,29 (UT3),Andaman and Nicobar Islands,"8,249",Bay of Bengal,0.250,Puerto Rico
29,30 (S27),Sikkim,"7,096",Northeastern,0.210,Cyprus
30,31 (S28),Goa,"3,702",Western,0.110,French Polynesia
31,32 (UT4),NCT Delhi,"1,483",Northern,0.040,Faroe Islands
32,33 (UT5),Dadra and Nagar Haveli and Daman and Diu,603,Western,0.010,Saint Lucia
33,34 (UT6),Puducherry,479,Southern,0.010,Andorra
34,35 (UT7),Chandigarh,114,Northern,0.003,Wallis and Futuna
35,36 (UT8),Lakshadweep,32,Arabian Sea,0.001,Macau
36,Total,India,"3,287,263[a]",Whole,100.000,NaN

In [48]:
# importing population data of India in 2001

In [49]:
population_2001 = pd.read_csv('all.csv')
population_2001

,Unnamed: 0,State,District,Persons,Males,Females,Growth_1991_2001,Rural,Urban,Scheduled_Caste_population,...,Medical_facility,Primary_Health_Centre,Primary_Health_Sub_Centre,Post_telegram_and_telephone_facility,Bus_services,Paved_approach_road,Mud_approach_road,Permanent_House,Semi_permanent_House,Temporary_House
0,1,AN,"District Andamans (01), Andaman & Nicobar Isla...",314084,170319,143765,30.14,197886,116198,-,...,102,16,78,161.0,187,201,243,28.7,39.1,32.0
1,2,AN,"District Nicobars (02), Andaman & Nicobar Isla...",42068,22653,19415,7.19,42068,0,-,...,38,4,31,36.0,49,51,111,28.0,33.3,38.7
2,3,Andhra,"District Adilabad (01), Andhra Pradesh (28)",2488003,1250958,1237045,19.06,1827986,660017,NaN,...,976,61,432,558.0,814,979,544,53.0,39.9,7.0
3,4,Andhra,"District Nizamabad (02), Andhra Pradesh (28)",2345685,1162905,1182780,14.98,1920947,424738,NaN,...,614,50,330,602.0,746,760,82,52.8,37.6,9.6
4,5,Andhra,"District Karimnagar (03), Andhra Pradesh (28)",3491822,1747968,1743854,14.47,2813010,678812,NaN,...,863,70,475,795.0,912,823,218,55.8,36.4,7.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,586,WB,"District Puruliya (14), West Bengal (19)",2536516,1298078,1238438,13.96,2281090,255426,NaN,...,1173,66,157,563.0,651,778,2361,26.3,44.8,28.9
586,587,WB,District Medinipur,9610788,4916370,4694418,15.68,8626883,983905,NaN,...,3560,175,878,2128.0,1807,4166,10016,20.1,40.5,39.4
587,588,WB,District Haora,4273099,2241898,2031201,14.60,2121109,2151990,NaN,...,410,46,150,363.0,331,623,705,68.2,27.9,3.9
588,589,WB,"District Kolkata (17), West Bengal (19)",4572876,2500040,2072836,4.11,2500000,2072876,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.3,7.5,1.1
589,590,WB,"Twenty Four Parganas (18), West Bengal (19)",6906689,3564993,3341696,20.89,5820469,1086220,NaN,...,1311,82,479,931.0,760,1634,1975,37.2,33.2,29.6

In [50]:
population_2001.isna().sum()

Unnamed: 0               0
State                    0
District                 0
Persons                  0
Males                    0
                        ..
Paved_approach_road     12
Mud_approach_road       12
Permanent_House          0
Semi_permanent_House     0
Temporary_House          0
Length: 82, dtype: int64

In [51]:
# some nulls are showing in the dataset

In [52]:
# checking individually for all columns nulls values and filling the null values

In [53]:
population_2001.columns

Index(['Unnamed: 0', 'State', 'District', 'Persons', 'Males', 'Females',
       'Growth_1991_2001', 'Rural', 'Urban', 'Scheduled_Caste_population',
       'Percentage_SC_to_total', 'Number_of_households',
       'Household_size_per_household', 'Sex_ratio_females_per_1000_males',
       'Sex_ratio_06_years', 'Scheduled_Tribe_population',
       'Percentage_to_total_population_ST', 'Persons_literate',
       'Males_Literate', 'Females_Literate', 'Persons_literacy_rate',
       'Males_Literacy_Rate', 'Females_Literacy_Rate', 'Total_Educated',
       'Data_without_level', 'Below_Primary', 'Primary', 'Middle',
       'Matric_Higher_Secondary_Diploma', 'Graduate_and_Above', 'X0_4_years',
       'X5_14_years', 'X15_59_years', 'X60_years_and_above_Incl_A_N_S',
       'Total_workers', 'Main_workers', 'Marginal_workers', 'Non_workers',
       'SC_1_Name', 'SC_1_Population', 'SC_2_Name', 'SC_2_Population',
       'SC_3_Name', 'SC_3_Population', 'Religeon_1_Name',
       'Religeon_1_Population', 'Religeon_2_Name', 'Religeon_2_Population',
       'Religeon_3_Name', 'Religeon_3_Population', 'ST_1_Name',
       'ST_1_Population', 'ST_2_Name', 'ST_2_Population', 'ST_3_Name',
       'ST_3_Population', 'Imp_Town_1_Name', 'Imp_Town_1_Population',
       'Imp_Town_2_Name', 'Imp_Town_2_Population', 'Imp_Town_3_Name',
       'Imp_Town_3_Population', 'Total_Inhabited_Villages',
       'Drinking_water_facilities', 'Safe_Drinking_water',
       'Electricity_Power_Supply', 'Electricity_domestic',
       'Electricity_Agriculture', 'Primary_school', 'Middle_schools',
       'Secondary_Sr_Secondary_schools', 'College', 'Medical_facility',
       'Primary_Health_Centre', 'Primary_Health_Sub_Centre',
       'Post_telegram_and_telephone_facility', 'Bus_services',
       'Paved_approach_road', 'Mud_approach_road', 'Permanent_House',
       'Semi_permanent_House', 'Temporary_House'],
      dtype='object')

In [54]:
population_2001['Unnamed: 0'].isna().sum()

0

In [55]:
population_2001['State'].isna().sum()

0

In [56]:
population_2001['District'].isna().sum()

0

In [57]:
population_2001['Persons'].isna().sum()

0

In [58]:
population_2001['Males'].isna().sum()

0

In [59]:
population_2001['Females'].isna().sum()

0

In [60]:
population_2001['Growth_1991_2001'].isna().sum()

0

In [61]:
population_2001['Rural'].isna().sum()

0

In [62]:
population_2001['Urban'].isna().sum()

0

In [63]:
population_2001['Scheduled_Caste_population'].isna().sum()

563

In [64]:
population_2001['Scheduled_Caste_population'].dtypes

dtype('O')

In [65]:
population_2001['Scheduled_Caste_population'].mode()

0    -
Name: Scheduled_Caste_population, dtype: object

In [66]:
population_2001['Scheduled_Caste_population'] = population_2001['Scheduled_Caste_population'].replace('-',1000)

population_2001['Scheduled_Caste_population'] = population_2001['Scheduled_Caste_population'].fillna(1000)

In [67]:
population_2001['Percentage_SC_to_total'].isna().sum()

562

In [68]:
population_2001['Percentage_SC_to_total'].dtypes

dtype('O')

In [69]:
population_2001['Percentage_SC_to_total'].mode()

0    -
Name: Percentage_SC_to_total, dtype: object

In [70]:
population_2001['Percentage_SC_to_total'] = population_2001['Percentage_SC_to_total'].replace('-',0)

population_2001['Percentage_SC_to_total'] = population_2001['Percentage_SC_to_total'].fillna(0)

In [71]:
population_2001['Percentage_SC_to_total'].isna().sum()

0

In [72]:
population_2001['Number_of_households'].isna().sum()

0

In [73]:
population_2001['Household_size_per_household'].isna().sum()

0

In [74]:
population_2001['Sex_ratio_females_per_1000_males'].isna().sum()

0

In [75]:
population_2001['Sex_ratio_06_years'].isna().sum()

0

In [76]:
population_2001['Scheduled_Tribe_population'].isna().sum()

0

In [77]:
population_2001['Percentage_to_total_population_ST'].isna().sum()

4

In [78]:
population_2001['Percentage_to_total_population_ST'].dtypes

dtype('O')

In [79]:
population_2001['Percentage_to_total_population_ST'].mode()

0    -
Name: Percentage_to_total_population_ST, dtype: object

In [80]:
population_2001['Percentage_to_total_population_ST'] = population_2001['Percentage_to_total_population_ST'].replace('-',20)

population_2001['Percentage_to_total_population_ST'] = population_2001['Percentage_to_total_population_ST'].fillna(30)

In [81]:
population_2001['Percentage_to_total_population_ST'].isna().sum()

0

In [82]:
population_2001['Persons_literate'].isna().sum()

0

In [83]:
population_2001['Males_Literate'].isna().sum()

0

In [84]:
population_2001['Females_Literate'].isna().sum()

0

In [85]:
population_2001['Persons_literacy_rate'].isna().sum()

0

In [86]:
population_2001['Males_Literacy_Rate'].isna().sum()

0

In [87]:
population_2001['Females_Literacy_Rate'].isna().sum()

0

In [88]:
population_2001['Total_Educated'].isna().sum()

3

In [89]:
population_2001['Total_Educated'].dtypes

dtype('float64')

In [90]:
population_2001['Total_Educated'].mean()

944478.2095400341

In [91]:
population_2001['Total_Educated'] = population_2001['Total_Educated'].fillna(940000)

In [92]:
population_2001['Data_without_level'].isna().sum()

3

In [93]:
population_2001['Data_without_level'].dtypes

dtype('float64')

In [94]:
population_2001['Data_without_level'].mean()

33894.31686541738

In [95]:
population_2001['Data_without_level'] = population_2001['Data_without_level'].fillna(34000)

In [96]:
population_2001['Below_Primary'].isna().sum()

3

In [97]:
population_2001['Below_Primary'].dtypes

dtype('float64')

In [98]:
population_2001['Below_Primary'].mean()

243767.33049403748

In [99]:
population_2001['Below_Primary'] = population_2001['Below_Primary'].fillna(240000)

In [100]:
population_2001['Primary'].isna().sum()

3

In [101]:
population_2001['Primary'].dtypes

dtype('float64')

In [102]:
population_2001['Primary'].mean()

246427.64735945486

In [103]:
population_2001['Primary'] = population_2001['Primary'].fillna(250000)

In [104]:
population_2001['Middle'].isna().sum()

3

In [105]:
population_2001['Middle'].dtypes

dtype('float64')

In [106]:
population_2001['Middle'].mean()

152429.41056218056

In [107]:
population_2001['Middle'] = population_2001['Middle'].fillna(152000)

In [108]:
population_2001['Matric_Higher_Secondary_Diploma'].isna().sum()

3

In [109]:
population_2001['Matric_Higher_Secondary_Diploma'].dtypes

dtype('float64')

In [110]:
population_2001['Matric_Higher_Secondary_Diploma'].mean()

204171.03066439522

In [111]:
population_2001['Matric_Higher_Secondary_Diploma'] = population_2001['Matric_Higher_Secondary_Diploma'].fillna(200000)

In [112]:
population_2001['Graduate_and_Above'].isna().sum()

3

In [113]:
population_2001['Graduate_and_Above'].dtypes

dtype('float64')

In [114]:
population_2001['Graduate_and_Above'].mean()

63622.16695059625

In [115]:
population_2001['Graduate_and_Above'] = population_2001['Graduate_and_Above'].fillna(65000)

In [116]:
population_2001['X0_4_years'].isna().sum()

3

In [117]:
population_2001['X0_4_years'].dtypes

dtype('float64')

In [118]:
population_2001['X0_4_years'].mean()

186595.36967632026

In [119]:
population_2001['X0_4_years'] = population_2001['X0_4_years'].fillna(185000)

In [120]:
population_2001['X5_14_years'].isna().sum()

3

In [121]:
population_2001['X5_14_years'].dtypes

dtype('float64')

In [122]:
population_2001['X5_14_years'].mean()

427263.4190800681

In [123]:
population_2001['X5_14_years'] = population_2001['X5_14_years'].fillna(420000)

In [124]:
population_2001['X15_59_years'].isna().sum()

3

In [125]:
population_2001['X15_59_years'].dtypes

dtype('float64')

In [126]:
population_2001['X15_59_years'].mean()

986585.9540034072

In [127]:
population_2001['X15_59_years'] = population_2001['X15_59_years'].fillna(980000)

In [128]:
population_2001['X60_years_and_above_Incl_A_N_S'].isna().sum()

3

In [129]:
population_2001['X60_years_and_above_Incl_A_N_S'].dtypes

dtype('float64')

In [130]:
population_2001['X60_years_and_above_Incl_A_N_S'].mean()

133762.27427597955

In [131]:
population_2001['X60_years_and_above_Incl_A_N_S'] = population_2001['X60_years_and_above_Incl_A_N_S'].fillna(1337750)

In [132]:
population_2001['Total_workers'].isna().sum()

0

In [133]:
population_2001['Main_workers'].isna().sum()

0

In [134]:
population_2001['Marginal_workers'].isna().sum()

0

In [135]:
population_2001['Non_workers'].isna().sum()

0

In [136]:
population_2001['SC_1_Name'].isna().sum()

53

In [137]:
population_2001['SC_1_Name'].dtypes

dtype('O')

In [138]:
population_2001['SC_1_Name'].mode()

0    1.Chamar etc.
Name: SC_1_Name, dtype: object

In [139]:
population_2001['SC_1_Name'] = population_2001['SC_1_Name'].fillna('1.Chamar etc.')

In [140]:
population_2001['SC_1_Population'].isna().sum()

13

In [141]:
population_2001['SC_1_Population'].dtypes

dtype('float64')

In [142]:
population_2001['SC_1_Population'].mean()

152126.13691507798

In [143]:
population_2001['SC_1_Population'] = population_2001['SC_1_Population'].fillna(152000)

In [144]:
population_2001['SC_2_Name'].isna().sum()

64

In [145]:
population_2001['SC_2_Name'].dtypes

dtype('O')

In [146]:
population_2001['SC_2_Name'].mode()

0    2.Chamar etc.
Name: SC_2_Name, dtype: object

In [147]:
population_2001['SC_2_Name'] = population_2001['SC_2_Name'].fillna('2.Chamar etc.')

In [148]:
population_2001['SC_2_Population'].isna().sum()

13

In [149]:
population_2001['SC_2_Population'].dtypes

dtype('float64')

In [150]:
population_2001['SC_2_Population'].mean()

57613.90121317158

In [151]:
population_2001['SC_2_Population'] = population_2001['SC_2_Population'].fillna(57500)

In [152]:
population_2001['SC_3_Name'].isna().sum()

66

In [153]:
population_2001['SC_3_Name'].dtypes

dtype('O')

In [154]:
population_2001['SC_3_Name'].mode()

0    3.Chamar etc.
1          3.Dhobi
Name: SC_3_Name, dtype: object

In [155]:
population_2001['SC_3_Name'] = population_2001['SC_3_Name'].fillna('3.Chamar etc.')

In [156]:
population_2001['SC_3_Population'].isna().sum()

13

In [157]:
population_2001['SC_3_Population'].dtypes

dtype('float64')

In [158]:
population_2001['SC_3_Population'].mean()

26567.043327556326

In [159]:
population_2001['SC_3_Population'] = population_2001['SC_3_Population'].fillna(26500)

In [160]:
population_2001['Religeon_1_Name'].isna().sum()

53

In [161]:
population_2001['Religeon_1_Name'].dtypes

dtype('O')

In [162]:
population_2001['Religeon_1_Name'].mode()

0    1.Hindus
Name: Religeon_1_Name, dtype: object

In [163]:
population_2001['Religeon_1_Name'] = population_2001['Religeon_1_Name'].fillna('1.Hindus')

In [164]:
population_2001['Religeon_1_Population'].isna().sum()

0

In [165]:
population_2001['Religeon_2_Name'].isna().sum()

53

In [166]:
population_2001['Religeon_2_Name'].dtypes

dtype('O')

In [167]:
population_2001['Religeon_2_Name'].mode()

0    2.Muslims
Name: Religeon_2_Name, dtype: object

In [168]:
population_2001['Religeon_2_Name'] = population_2001['Religeon_2_Name'].fillna('2.Muslims')

In [169]:
population_2001['Religeon_2_Population'].isna().sum()

0

In [170]:
population_2001['Religeon_3_Name'].isna().sum()

53

In [171]:
population_2001['Religeon_3_Name'].dtypes

dtype('O')

In [172]:
population_2001['Religeon_3_Name'].mode()

0    3.Christians
Name: Religeon_3_Name, dtype: object

In [173]:
population_2001['Religeon_3_Name'] = population_2001['Religeon_3_Name'].fillna('3.Christians')

In [174]:
population_2001['Religeon_3_Population'].isna().sum()

0

In [175]:
population_2001['ST_1_Name'].isna().sum()

0

In [176]:
population_2001['ST_1_Population'].isna().sum()

51

In [177]:
population_2001['ST_1_Population'].dtypes

dtype('O')

In [178]:
population_2001['ST_1_Population'].mode()

0    243
Name: ST_1_Population, dtype: object

In [179]:
population_2001['ST_1_Population'] = population_2001['ST_1_Population'].fillna(243)

In [180]:
population_2001['ST_2_Name'].isna().sum()

50

In [181]:
population_2001['ST_2_Name'].dtypes

dtype('O')

In [182]:
population_2001['ST_2_Name'].mode()

0    2.Generic Tribes etc.
Name: ST_2_Name, dtype: object

In [183]:
population_2001['ST_2_Name'] = population_2001['ST_2_Name'].fillna('2.Generic Tribes etc.')

In [184]:
population_2001['ST_2_Population'].isna().sum()

53

In [185]:
population_2001['ST_2_Population'].dtypes

dtype('O')

In [186]:
population_2001['ST_2_Population'].mode()

0    85
Name: ST_2_Population, dtype: object

In [187]:
population_2001['ST_2_Population'] = population_2001['ST_2_Population'].fillna(85)

In [188]:
population_2001['ST_3_Name'].isna().sum()

50

In [189]:
population_2001['ST_3_Name'].dtypes

dtype('O')

In [190]:
population_2001['ST_3_Name'].mode()

0    3.Generic Tribes etc.
Name: ST_3_Name, dtype: object

In [191]:
population_2001['ST_3_Name'] = population_2001['ST_3_Name'].fillna('3.Generic Tribes etc.')

In [192]:
population_2001['ST_3_Population'].isna().sum()

52

In [193]:
population_2001['ST_3_Population'].dtypes

dtype('O')

In [194]:
population_2001['ST_3_Population'].mode()

0    1
Name: ST_3_Population, dtype: object

In [195]:
population_2001['ST_3_Population'] = population_2001['ST_3_Population'].fillna(1)

In [196]:
population_2001['Imp_Town_1_Name'].isna().sum()

21

In [197]:
population_2001['Imp_Town_1_Name'].dtypes

dtype('O')

In [198]:
population_2001['Imp_Town_1_Name'].mode()

0    (MB)
Name: Imp_Town_1_Name, dtype: object

In [199]:
population_2001['Imp_Town_1_Name'] = population_2001['Imp_Town_1_Name'].fillna('MB')

In [200]:
population_2001['Imp_Town_1_Population'].isna().sum()

14

In [201]:
population_2001['Imp_Town_1_Population'].dtypes

dtype('float64')

In [202]:
population_2001['Imp_Town_1_Population'].mean()

248160.41145833334

In [203]:
population_2001['Imp_Town_1_Population'] = population_2001['Imp_Town_1_Population'].fillna(240000)

In [204]:
population_2001['Imp_Town_2_Name'].isna().sum()

97

In [205]:
population_2001['Imp_Town_2_Name'].dtypes

dtype('O')

In [206]:
population_2001['Imp_Town_2_Name'].mode()

0              (M)
1    2.DMC(U) Part
Name: Imp_Town_2_Name, dtype: object

In [207]:
population_2001['Imp_Town_2_Name'] = population_2001['Imp_Town_2_Name'].fillna('M')

In [208]:
population_2001['Imp_Town_2_Population'].isna().sum()

64

In [209]:
population_2001['Imp_Town_2_Population'].dtypes

dtype('float64')

In [210]:
population_2001['Imp_Town_2_Population'].mean()

68726.90114068441

In [211]:
population_2001['Imp_Town_2_Population'] = population_2001['Imp_Town_2_Population'].fillna(65000)

In [212]:
population_2001['Imp_Town_3_Name'].isna().sum()

142

In [213]:
population_2001['Imp_Town_3_Name'].dtypes

dtype('O')

In [214]:
population_2001['Imp_Town_3_Name'].mode()

0    (M)
Name: Imp_Town_3_Name, dtype: object

In [215]:
population_2001['Imp_Town_3_Name'] = population_2001['Imp_Town_3_Name'].fillna('M')

In [216]:
population_2001['Imp_Town_3_Population'].isna().sum()

108

In [217]:
population_2001['Imp_Town_3_Population'].dtypes

dtype('float64')

In [218]:
population_2001['Imp_Town_3_Population'].mean()

41223.5622406639

In [219]:
population_2001['Imp_Town_3_Population'] = population_2001['Imp_Town_3_Population'].fillna(40000)

In [220]:
population_2001['Total_Inhabited_Villages'].isna().sum()

12

In [221]:
population_2001['Total_Inhabited_Villages'].dtypes

dtype('float64')

In [222]:
population_2001['Total_Inhabited_Villages'].mean()

1016.4515570934255

In [223]:
population_2001['Total_Inhabited_Villages'] = population_2001['Total_Inhabited_Villages'].fillna(1110)

In [224]:
population_2001['Drinking_water_facilities'].isna().sum()

12

In [225]:
population_2001['Drinking_water_facilities'].dtypes

dtype('float64')

In [226]:
population_2001['Drinking_water_facilities'].mean()

1009.6712802768166

In [227]:
population_2001['Drinking_water_facilities'].isna().sum()

12

In [228]:
population_2001['Drinking_water_facilities'] = population_2001['Drinking_water_facilities'].fillna(1110)

In [229]:
population_2001['Safe_Drinking_water'].isna().sum()

12

In [230]:
population_2001['Safe_Drinking_water'].dtypes

dtype('float64')

In [231]:
population_2001['Safe_Drinking_water'].mean()

992.0449826989619

In [232]:
population_2001['Safe_Drinking_water'] = population_2001['Safe_Drinking_water'].fillna(950)

In [233]:
population_2001['Electricity_Power_Supply'].isna().sum()

12

In [234]:
population_2001['Electricity_Power_Supply'].dtypes

dtype('float64')

In [235]:
population_2001['Electricity_Power_Supply'].mean()

774.7595155709342

In [236]:
population_2001['Electricity_Power_Supply'] = population_2001['Electricity_Power_Supply'].fillna(750)

In [237]:
population_2001['Electricity_domestic'].isna().sum()

12

In [238]:
population_2001['Electricity_domestic'].dtypes

dtype('O')

In [239]:
population_2001['Electricity_domestic'].mode()

0    -
Name: Electricity_domestic, dtype: object

In [240]:
population_2001['Electricity_domestic'] = population_2001['Electricity_domestic'].replace('-',250)

population_2001['Electricity_domestic'] = population_2001['Electricity_domestic'].fillna(300)

In [241]:
population_2001['Electricity_domestic'].isna().sum()

0

In [242]:
population_2001['Electricity_Agriculture'].isna().sum()

208

In [243]:
population_2001['Electricity_Agriculture'].dtypes

dtype('O')

In [244]:
population_2001['Electricity_Agriculture'].mode()

0    -
Name: Electricity_Agriculture, dtype: object

In [245]:
population_2001['Electricity_Agriculture'] = population_2001['Electricity_Agriculture'].replace('-',100)

population_2001['Electricity_Agriculture'] = population_2001['Electricity_Agriculture'].fillna(100)

In [246]:
population_2001['Electricity_Agriculture'].isna().sum()

0

In [247]:
population_2001['Primary_school'].isna().sum()

12

In [248]:
population_2001['Primary_school'].dtypes

dtype('float64')

In [249]:
population_2001['Primary_school'].mean()

796.7941176470588

In [250]:
population_2001['Primary_school'] = population_2001['Primary_school'].fillna(750)

In [251]:
population_2001['Middle_schools'].isna().sum()

12

In [252]:
population_2001['Middle_schools'].dtypes

dtype('O')

In [253]:
population_2001['Middle_schools'].mode()

0    -
Name: Middle_schools, dtype: object

In [254]:
population_2001['Middle_schools'] = population_2001['Middle_schools'].replace('-',150)

population_2001['Middle_schools'] = population_2001['Middle_schools'].fillna(155)

In [255]:
population_2001['Middle_schools'].isna().sum()

0

In [256]:
population_2001['Secondary_Sr_Secondary_schools'].isna().sum()

12

In [257]:
population_2001['Secondary_Sr_Secondary_schools'].dtypes

dtype('O')

In [258]:
population_2001['Secondary_Sr_Secondary_schools'].mode()

0    105
1     42
2     68
Name: Secondary_Sr_Secondary_schools, dtype: object

In [259]:
population_2001['Secondary_Sr_Secondary_schools'] = population_2001['Secondary_Sr_Secondary_schools'].fillna(105)

In [260]:
population_2001['College'].isna().sum()

52

In [261]:
population_2001['College'].dtypes

dtype('O')

In [262]:
population_2001['College'].mode()

0    -
Name: College, dtype: object

In [263]:
population_2001['College'] = population_2001['College'].replace('-',10)

In [264]:
population_2001['College'] = population_2001['College'].fillna(10)

In [265]:
population_2001['College'].isna().sum()

0

In [266]:
population_2001['Medical_facility'].isna().sum()

12

In [267]:
population_2001['Medical_facility'].dtypes

dtype('O')

In [268]:
population_2001['Medical_facility'].mode()

0    118
1    197
2    229
3    279
4    375
5     48
6     67
7     74
Name: Medical_facility, dtype: object

In [269]:
population_2001['Medical_facility'] = population_2001['Medical_facility'].fillna(118)

In [270]:
population_2001['Primary_Health_Centre'].isna().sum()

12

In [271]:
population_2001['Primary_Health_Centre'].dtypes

dtype('O')

In [272]:
population_2001['Primary_Health_Centre'].mode()

0    16
1    18
2    20
Name: Primary_Health_Centre, dtype: object

In [273]:
population_2001['Primary_Health_Centre'] = population_2001['Primary_Health_Centre'].fillna(16)

In [274]:
population_2001['Primary_Health_Sub_Centre'].isna().sum()

12

In [275]:
population_2001['Primary_Health_Sub_Centre'].dtypes

dtype('O')

In [276]:
population_2001['Primary_Health_Sub_Centre'].mode()

0    28
Name: Primary_Health_Sub_Centre, dtype: object

In [277]:
population_2001['Primary_Health_Sub_Centre'] = population_2001['Primary_Health_Sub_Centre'].fillna(28)

In [278]:
population_2001['Post_telegram_and_telephone_facility'].isna().sum()

12

In [279]:
population_2001['Post_telegram_and_telephone_facility'].dtypes

dtype('float64')

In [280]:
population_2001['Post_telegram_and_telephone_facility'].mean()

419.7266435986159

In [281]:
population_2001['Post_telegram_and_telephone_facility'] = population_2001['Post_telegram_and_telephone_facility'].fillna(410)

In [282]:
population_2001['Bus_services'].isna().sum()

12

In [283]:
population_2001['Bus_services'].dtypes

dtype('O')

In [284]:
population_2001['Bus_services'].mode()

0    146
Name: Bus_services, dtype: object

In [285]:
population_2001['Bus_services'] = population_2001['Bus_services'].fillna(146)

In [286]:
population_2001['Paved_approach_road'].isna().sum()

12

In [287]:
population_2001['Paved_approach_road'] = population_2001['Paved_approach_road'].fillna(100)

In [288]:
population_2001['Mud_approach_road'].isna().sum()

12

In [289]:
population_2001['Mud_approach_road'] = population_2001['Mud_approach_road'].fillna(197)

In [290]:
population_2001['Permanent_House'].isna().sum()

0

In [291]:
population_2001['Semi_permanent_House'].isna().sum()

0

In [292]:
population_2001['Temporary_House'].isna().sum()

0

In [293]:
# all null values have filled up.

In [294]:
# importing population data for India in 2011

In [295]:
population_2011 = pd.read_csv("india_districts_census_2011.csv")
population_2011

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,1048,...,94,588,71,101,172,74,10,84,15,1119
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,368,...,126,562,72,89,161,96,28,124,18,1066
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,62834,30936,488,...,46,122,15,22,37,20,14,34,17,242
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,56301,29935,18,...,27,114,12,18,30,19,3,22,7,214
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,163333,98391,556,...,78,346,35,50,85,59,8,67,12,629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816,19143,22673,36470,16610,19860,144,...,2316,4309,1370,838,2208,576,978,1554,1446,10027
636,637,PONDICHERRY,Karaikal,200222,97809,102413,154916,79903,75013,35348,...,1063,2408,665,340,1005,246,483,729,341,4890
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842,20727,16115,25332,15397,9935,0,...,685,1895,212,134,346,70,120,190,84,3151
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597,54861,50736,78683,43186,35497,0,...,685,1895,212,134,346,70,120,190,84,3151
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,238142,127283,110859,190266,105794,84472,0,...,1371,3020,649,368,1017,265,497,762,376,5782

In [296]:
population_2011.isna().sum()

District code                    0
State name                       0
District name                    0
Population                       0
Male                             0
                                ..
Power_Parity_Rs_330000_425000    0
Power_Parity_Rs_425000_545000    0
Power_Parity_Rs_330000_545000    0
Power_Parity_Above_Rs_545000     0
Total_Power_Parity               0
Length: 118, dtype: int64

In [297]:
# no nulls are showing in dataset.

In [298]:
# importing population data for India in 2011

In [299]:
population_2020 = pd.read_csv("Historical_data_Population.csv")
population_2020

,Unnamed: 0,Year,Population,Yearly % Change,Yearly Change,Migrants (net),Median Age,Fertility Rate,Density (P/Km²),Urban Pop %,Urban Population,Country's Share of World Pop,World Population,IndiaGlobal Rank
0,0,2020,1380004385,0.99 %,13586631,-532687,28.4,2.24,464,35.0 %,483098640,17.70 %,7794798739,2
1,1,2019,1366417754,1.02 %,13775474,-532687,27.1,2.36,460,34.5 %,471828295,17.71 %,7713468100,2
2,2,2018,1352642280,1.04 %,13965495,-532687,27.1,2.36,455,34.1 %,460779764,17.73 %,7631091040,2
3,3,2017,1338676785,1.07 %,14159536,-532687,27.1,2.36,450,33.6 %,449963381,17.74 %,7547858925,2
4,4,2016,1324517249,1.10 %,14364846,-532687,27.1,2.36,445,33.2 %,439391699,17.75 %,7464022049,2
5,5,2015,1310152403,1.20 %,15174247,-470015,26.8,2.40,441,32.7 %,429069459,17.75 %,7379797139,2
6,6,2010,1234281170,1.47 %,17334249,-531169,25.1,2.80,415,30.8 %,380744554,17.74 %,6956823603,2
7,7,2005,1147609927,1.67 %,18206876,-377797,23.8,3.14,386,29.1 %,334479406,17.54 %,6541907027,2
8,8,2000,1056575549,1.85 %,18530592,-136514,22.7,3.48,355,27.6 %,291350282,17.20 %,6143493823,2
9,9,1995,963922588,1.99 %,18128958,-110590,21.8,3.83,324,26.5 %,255558824,16.78 %,5744212979,2
10,10,1990,873277798,2.17 %,17783558,9030,21.1,4.27,294,25.5 %,222296728,16.39 %,5327231061,2
11,11,1985,784360008,2.33 %,17081433,115942,20.6,4.68,264,24.3 %,190321782,16.10 %,4870921740,2
12,12,1980,698952844,2.32 %,15169989,222247,20.2,4.97,235,23.0 %,160941941,15.68 %,4458003514,2
13,13,1975,623102897,2.33 %,13582621,421208,19.7,5.41,210,21.3 %,132533810,15.27 %,4079480606,2
14,14,1970,555189792,2.15 %,11213294,-68569,19.3,5.72,187,19.7 %,109388950,15.00 %,3700437046,2
15,15,1965,499123324,2.07 %,9715129,-17078,19.6,5.89,168,18.7 %,93493844,14.95 %,3339583597,2
16,16,1960,450547679,1.91 %,8133417,-30805,20.2,5.90,152,17.9 %,80565723,14.85 %,3034949748,2
17,17,1955,409880595,1.72 %,6711079,-21140,20.7,5.90,138,17.6 %,71958495,14.78 %,2773019936,2

In [300]:
population_2020.isna().sum()

Unnamed: 0                      0
Year                            0
Population                      0
Yearly % Change                 0
Yearly Change                   0
Migrants (net)                  0
Median Age                      0
Fertility Rate                  0
Density (P/Km²)                 0
Urban Pop %                     0
Urban Population                0
Country's Share of World Pop    0
World Population                0
IndiaGlobal Rank                0
dtype: int64

In [301]:
# no null values are showing in dataset

In [302]:
# importing literacy rate data

In [303]:
literacy1 = pd.read_csv('GOI.csv')
literacy1

,Category,Country/ States/ Union Territories Name,Literacy Rate (Persons) - Total - 2001,Literacy Rate (Persons) - Total - 2011,Literacy Rate (Persons) - Rural - 2001,Literacy Rate (Persons) - Rural - 2011,Literacy Rate (Persons) - Urban - 2001,Literacy Rate (Persons) - Urban - 2011
0,Country,INDIA,64.8,73.0,58.7,67.8,79.9,84.1
1,State,Andhra Pradesh,60.5,67.0,54.5,60.4,76.1,80.1
2,State,Arunachal Pradesh,54.3,65.4,47.8,59.9,78.3,82.9
3,State,Assam,63.3,72.2,59.7,69.3,85.3,88.5
4,State,Bihar,47.0,61.8,43.9,59.8,71.9,76.9
5,State,Chhattisgarh,64.7,70.3,60.5,66.0,80.6,84.0
6,State,Goa,82.0,88.7,79.7,86.6,84.4,90.0
7,State,Gujarat,69.1,78.0,61.3,71.7,81.8,86.3
8,State,Haryana,67.9,75.6,63.2,71.4,79.2,83.1
9,State,Himachal Pradesh,76.5,82.8,75.1,81.9,88.9,91.1
10,State,Jammu & Kashmir,55.5,67.2,49.8,63.2,71.9,77.1
11,State,Jharkhand,53.6,66.4,45.7,61.1,79.1,82.3
12,State,Karnataka,66.6,75.4,59.3,68.7,80.6,85.8
13,State,Kerala,90.9,94.0,90.0,93.0,93.2,95.1
14,State,Madhya Pradesh,63.7,69.3,57.8,63.9,79.4,82.8
15,State,Maharashtra,76.9,82.3,70.4,77.0,85.5,88.7
16,State,Manipur,70.5,76.9,67.3,73.4,79.3,85.4
17,State,Meghalaya,62.6,74.4,56.3,69.9,86.3,90.8
18,State,Mizoram,88.8,91.3,81.3,84.1,96.1,97.6
19,State,Nagaland,66.6,79.6,62.8,75.3,84.7,89.6
20,State,Odisha,63.1,72.9,59.8,70.2,80.8,85.7
21,State,Punjab,69.7,75.8,64.7,71.4,79.1,83.2
22,State,Rajasthan,60.4,66.1,55.3,61.4,76.2,79.7
23,State,Sikkim,68.8,81.4,66.8,78.9,83.9,88.7
24,State,Tamil Nadu,73.5,80.1,66.2,73.5,82.5,87.0
25,State,Tripura,73.2,87.2,69.7,84.9,89.2,93.5
26,State,Uttar Pradesh,56.3,67.7,52.5,65.5,69.8,75.1
27,State,Uttarakhand,71.6,78.8,68.1,76.3,81.4,84.5
28,State,West Bengal,68.6,76.3,63.4,72.1,81.2,84.8
29,Union Territory,A & N Islands,81.3,86.6,78.7,84.5,86.6,90.1
30,Union Territory,Chandigarh,81.9,86.0,75.6,80.7,82.6,86.2
31,Union Territory,D & N Haveli,57.6,76.2,49.3,64.1,84.4,89.8
32,Union Territory,Daman & Diu,78.2,87.1,75.8,81.4,82.3,89.0
33,Union Territory,Lakshadweep,86.7,91.8,85.0,91.6,88.6,91.9
34,Union Territory,NCT of Delhi,81.7,86.2,78.1,81.9,81.9,86.3
35,Union Territory,Puducherry,81.2,85.8,74.0,80.1,84.8,88.5

In [304]:
literacy1.isna().sum()

Category                                   0
Country/ States/ Union Territories Name    0
Literacy Rate (Persons) - Total - 2001     0
Literacy Rate (Persons) - Total - 2011     0
Literacy Rate (Persons) - Rural - 2001     0
Literacy Rate (Persons) - Rural - 2011     0
Literacy Rate (Persons) - Urban - 2001     0
Literacy Rate (Persons) - Urban - 2011     0
dtype: int64

In [305]:
# no null values are showing in dataset

In [306]:
# importing literacy rate data of 2015-2016

In [307]:
literacy2 = pd.read_csv("2015_16_Districtwise.csv")
literacy2

,AC_YEAR,STATCD,DISTCD,STATNAME,DISTNAME,DISTRICTS,BLOCKS,VILLAGES,CLUSTERS,TOTPOPULAT,...,UUNI_ALL,UUNI_SC,UUNI_ST,TOTCLS1G,TOTCLS2G,TOTCLS3G,TOTCLS4G,TOTCLS5G,TOTCLS6G,TOTCLS7G
0,2015-16,1,101,JAMMU & KASHMIR,KUPWARA,1,13,391,104,875564.0,...,21322,26,2594,3489,5315,27,62,23,852,239
1,2015-16,1,102,JAMMU & KASHMIR,BARAMULA,1,18,678,144,1015503.0,...,17307,0,1571,4127,5800,210,53,30,1665,360
2,2015-16,1,103,JAMMU & KASHMIR,SRINAGAR,1,8,94,65,1269751.0,...,5444,31,408,817,3284,886,11,0,2873,40
3,2015-16,1,104,JAMMU & KASHMIR,BADGAM,1,13,523,104,735753.0,...,12469,18,857,2290,3837,119,45,8,1035,325
4,2015-16,1,105,JAMMU & KASHMIR,PULWAMA,1,8,359,64,570060.0,...,7408,17,855,1688,2584,151,67,5,1101,209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,2015-16,36,3606,TELANGANA,RANGA REDDY,1,37,876,137,5296396.0,...,93203,25534,9457,7224,8298,529,0,121,15458,3337
676,2015-16,36,3607,TELANGANA,MAHBUBNAGAR,1,64,1458,230,4042191.0,...,134277,31001,14590,8936,7007,179,0,44,3730,3327
677,2015-16,36,3608,TELANGANA,NALGONDA,1,59,1117,216,3483648.0,...,96804,26577,14015,7592,4534,103,0,208,4026,3049
678,2015-16,36,3609,TELANGANA,WARANGAL,1,51,993,211,3522644.0,...,92224,23172,23525,6674,4677,153,0,207,7035,3060
679,2015-16,36,3610,TELANGANA,KHAMMAM,1,41,783,185,2798214.0,...,70234,15593,25217,6047,4015,104,0,32,3103,2228

In [308]:
literacy2.isna().sum()

AC_YEAR     0
STATCD      0
DISTCD      0
STATNAME    0
DISTNAME    0
           ..
TOTCLS3G    0
TOTCLS4G    0
TOTCLS5G    0
TOTCLS6G    0
TOTCLS7G    0
Length: 819, dtype: int64

In [309]:
# no null values are showing in dataset

In [310]:
# importing literacy rate data

In [311]:
literacy3 = pd.read_csv("List_of_Indian_states_and_union_territories_by_literacy_rate.csv")
literacy3

,Unnamed: 0,State or UT,Census 2011[4],Census 2011[4].1,Census 2011[4].2,NSO survey (2017)[5],NSO survey (2017)[5].1,NSO survey (2017)[5].2
0,NaN,State or UT,Average,Male,Female,Average,Male,Female
1,0.0,India,74.04,82.14,65.46,77.7,84.7,70.3
2,1.0,A&N islands[UT],86.27,90.11,81.84,72,76,78
3,2.0,Andhra Pradesh[a],66.4,75.56,59.74,66.4,73.4,59.5
4,3.0,Arunachal Pradesh,66.95,73.69,59.57,87,75,79
5,4.0,Assam,73.18,78.81,67.27,85.9,90.1,81.2
6,5.0,Bihar,69.82,73.39,53.33,70.9,79.7,60.5
7,6.0,Chhattisgarh,71.04,81.45,60.59,77.3,85.4,68.8
8,7.0,Chandigarh[UT],86.43,90.54,81.38,79,78,82
9,8.0,Dadra and Nagar Haveli[UT],77.65,86.46,65.93,75,70,76
10,9.0,Daman & Diu[UT],87.07,91.48,79.59,78,75,86
11,10.0,Delhi[UT],86.34,91.03,80.93,88.7,82.4,93.7
12,11.0,Goa,87.4,92.81,81.84,84,78,76
13,12.0,Gujarat,79.31,87.23,70.73,82.4,89.5,74.8
14,13.0,Haryana,76.64,85.38,66.77,80.4,88,71.3
15,14.0,Himachal Pradesh,83.78,90.83,76.6,86.6,92.9,80.5
16,15.0,Jammu and Kashmir,68.74,78.26,58.01,77.3,85.7,68
17,16.0,Jharkhand,66.41,78.45,56.21,74.3,83,64.7
18,17.0,Karnataka,75.6,82.85,68.13,77.2,83.4,70.5
19,18.0,Kerala,93.91,96.02,91.98,96.2,97.4,95.2
20,19.0,Lakshadweep[UT],92.28,96.11,88.25,88,85,78
21,20.0,Madhya Pradesh,70.63,80.53,60.02,73.7,81.2,65.5
22,21.0,Maharashtra,82.91,89.82,75.48,84.8,90.7,78.4
23,22.0,Manipur,79.85,86.49,73.17,82,70,75
24,23.0,Meghalya,75.48,77.17,73.78,85,85,84
25,24.0,Mizoram,91.58,93.72,89.4,87,90,78
26,25.0,Nagaland,80.11,83.29,76.69,75,78,86
27,26.0,Odisha,73.45,82.4,64.36,77.3,84,70.3
28,27.0,Puducherry[UT],86.55,92.12,81.22,85,58,78
29,28.0,Punjab,76.68,81.48,71.34,83.7,88.5,78.5
30,29.0,Rajasthan,67.06,80.51,52.66,69.7,80.8,57.6
31,30.0,Sikkim,82.2,87.29,76.43,55,54,78
32,31.0,Tamil Nadu,80.33,86.81,73.86,82.9,87.9,77.9
33,32.0,Telangana,78,85,87,72.8,80.5,65.1
34,33.0,Tripura,87.75,92.18,83.15,87,88,65
35,34.0,Uttarakhand,79.63,88.33,70.7,87.6,94.3,80.7
36,35.0,Uttar Pradesh,69.72,79.24,59.26,73,81.8,63.4
37,36.0,West Bengal,77.08,82.67,71.16,80.5,84.8,76.1

In [312]:
literacy3.isna().sum()

Unnamed: 0                1
State or UT               0
Census 2011[4]            0
Census 2011[4].1          0
Census 2011[4].2          0
NSO survey (2017)[5]      0
NSO survey (2017)[5].1    0
NSO survey (2017)[5].2    0
dtype: int64

In [313]:
# one null is showing in nominal column (Unnamed: 0).